// SPDX-License-Identifier: MIT
pragma solidity ^0.8.9;

import "./ERC20.sol";

contract ERC20MintableTemplate is ERC20 {
    constructor() ERC20("{{name}}", "{{symbol}}", {{totalSupply}}) {}

    function mint(address to, uint256 amount) public onlyOwner {
        _mint(to, amount);
    }
}